.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#design {
    background-color: darkslategray;
    color: gold;
}

.font-setup {
    font-size: 25px;
    margin: 30px;
}

.header {
    font-size: 35px;
    text-align: center;
}